/* Styling sidebar */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    color: #fff;
    transition: width 0.3s;
}

.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #555;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar ul li {
    margin: 5px 0;
}

.sidebar ul li a {
    text-decoration: none;
}

/* Style for sidebar header */
.sidebar h2 {
    padding: 10px;
    margin: 0;
    background-color: #222;
    text-align: center;
    font-weight: bold;
}

/* Styling content area */
.content {
    margin-left: 250px;
    padding: 20px;
}

/* Style for table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style for edit and delete icons */
.action-icons {
    display: flex;
    justify-content: space-between;
}

.action-icons a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.action-icons a.edit {
    background-color: #28a745;
    color: #fff;
}

.action-icons a.delete {
    background-color: #dc3545;
    color: #fff;
}

.data-row {
    margin-bottom: 10px; /* Ubah angka ini sesuai dengan kebutuhan Anda */
}

.p {
    display: inline-block;
    margin-right: 20px; /* Ubah angka ini sesuai dengan kebutuhan Anda */
}