body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(211, 211, 250);
  text-decoration: none;
}



.img{
  background-image: url(/asset/Geopark.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align: left;
}


footer{
  position: relative;
  top: 90%;
  text-align: center;
  color: white;
  padding: 10px;
}
